<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="fsharp-daily" value="https://www.myget.org/F/fsharp-daily/api/v3/index.json" />
    <!-- That's the nuget feed with suave netcore package -->
    <add key="enrico-ci" value="https://www.myget.org/F/enrico-ci/api/v3/index.json" />
  </packageSources>
</configuration>
